.menu {

  display: flex;
  align-items: center;
  &__nav {
    color: var(--primary-text-color);
  }
 
}
.current {
  color: var(--accent-color);
}



.menu{
  &__nav{
    &:hover,
    &:focus{
      color: var(--accent-color)
    }
  }
 
}

.menu__list-item{
    @media screen and (max-width: 767px) {
      &:last-child {
        margin-bottom: 32px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 30px;
      }

    }
  }

  