.modal {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: var(--title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: var(--cubic);
  opacity: 1;
  @media screen and (min-width: 320px) and (max-width: 480px) {
  width: 90%;
  }

  @media screen and (min-width: 481px) and (max-width: 1199px) {
  width: 450px;
  }

  @media screen and (min-width: 1200px) {
  width: 530px;
  }

.backdrop.is-hidden & {
transform: translate(-50%, -50%) scale(0.5);
opacity: 0;
}
}
.modal__form {
  width: 100%;
  padding: 40px;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  }

  //   .modal__label {
  //     font-weight: 400;
  //     font-size: 12px;
  //     line-height: 1.167;
  //     letter-spacing: .03em;
  //     color: var(--nav-contact-color);
  //     margin: 0 auto;
  // @media screen and (min-width: 480px) {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //   }
  
  //   @media screen and (min-width: 1200px) {
  //     font-size: 14px;
  //     line-height: 1.714;
  //   }
  //   }
// .checkbox--comments{
//     display: flex;
//     align-items: center;
//     margin-bottom: 30px;
     
//       }



.checkbox  {
  &-accent {
 color:var(--accent-color);
  text-decoration: underline;
  margin-left: 2px;
  }  
}

.wrapper--accept {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .modal__label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .modal__label {
    font-size: 14px;
    line-height: 1.714;
  }
}

.modal__accept--input:checked+.modal__figure {
  background-color: #2196f3;
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.modal__accept--input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  margin-right: 8px;
}

.modal__figure {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-color: transparent;
  margin-right: 7px;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__figure:hover,
.modal__figure:focus {
  cursor: pointer;
  border: 2px solid #2196f3;
}

.modal__accept--input:checked+.modal__figure {
  background-color: #2196f3;
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.modal-accept {
  color: #2196f3;
  text-decoration: underline;
  margin-left: 2px;
}
textarea {
  resize: none;
}

.form {
  &-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    color: var(--primary-text-color);
    margin-top: 0;
    margin-bottom: 12px;
    @media screen and (min-width: 1200px) {
        line-height: 1.15;
      }
  }


  &-comment {
    margin-bottom: 20px;
  }

  &-icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
    fill: var(--primary-text-color);
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);
  }
}

.field {
display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 10px;
position: relative;

  &:focus-within .form-icon {
    fill: var(--accent-color);
  }

  &:hover .form-icon {
    fill: var(--accent-color);
  }
}
.field label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: .01em;
    margin-bottom: 4px;
    color:var(--nav-contact-color);
}


.input {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
  padding: 14px 42px;

  &:focus,
  &:hover {
    outline: none;
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.form-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  position: relative;
  }
.form-comment label
{
      font-weight: 400;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: .01em;
        margin-bottom: 4px;
        color:var(--nav-contact-color);
}
.form-comment--input{
  margin-bottom: 20px;
}
 

.form-comment-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment-text:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-comment-text::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);}







.submit {
  &-button {
    display: block;
    margin: 0 auto;
    padding: 10px 55px 10px 56px;
    min-width: 200px;
    border-radius: 4px;
    border-style: none;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--title-color);
    cursor: pointer;
    outline: transparent;

    transition-duration: 250ms;
    transition-timing-function: var(--cubic);

    &:hover,
    &:focus {
      background: var(--hero-btn);
    }
  }
}
