.team{
  &-name{    
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-text-color);

    margin-bottom: 10px; 
    text-align: center;   
  }

}
.professions {
  color: var(--nav-contact-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 16px;
}